body{
    background-image: linear-gradient(to bottom right,black,rgb(44, 43, 43),rgb(75, 73, 73));
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/*header*/
.head_div{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.logo_main{
    display: inline-block;
    vertical-align:middle;
}
.logo{
    height:80px;
    width:80px;
    box-shadow: 0 0 15px -2px #8f9b90;
    border-radius: 50%;
}.heading_div{
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 15px;
    vertical-align:middle;
    color:#008000;
}
.slogan{
    text-align: center;
    font-size: 20px;
    color: rgb(177, 204, 171);
    margin-top: -1px;
}
header{
    padding-bottom: 5px;
    
}
/*header*/
/* hr */
hr{
    margin:0px 10px;
    background-color: aliceblue;
}
/* hr */
/* h2 */
h2{
    /*text-align:center;*/
    color:#008000;
}
/*navbar*/
/* .topbar{
    background-color: black;
    height: 50px;
}
.topbar a{
    background-color: #008000;
    color:white;
    height:50px;
    font-size: medium;
} */
#active{
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  #navbar{
    color: white;
    background-color: #008000;
    cursor: pointer;
  }
  .box{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
  }
  .footer{
    margin:10px;
    color:white;
  }
#input{
    background-color:  rgba(95, 91, 85, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.input{
    width: 25vw;
    margin-bottom: 10px;
    border-radius: 3px;
}
#contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-around; */
}
#input_p{
    color:white;
}
#cont_head{
    border-bottom: 2px solid #008000;
}
h2, .input,p{
    margin-left: 10px;
    margin-right: 10px;
}
#contact2{
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#submit{
    text-align: center;    
    margin-bottom: 10px;
}
#submit_button{
    background-color: #008000;
    border-radius: 5px;
    color:white;
    padding:4px;
    border:0px solid #008000;
}
.info{
    margin: 0px 10px;
}
.logo2{
    margin-left: 10px;
    margin-top:10px;
}
#location{
    height: 4vh;
}
#email{
    height: 5vh;
}