.projects {
  /* backdrop-filter: saturate(3); */
  width: 60vw;
  height: 100%;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;

  /* padding: 1rem; */
}
.cardSection {
  padding-inline: 1rem;
  width: 100%;
  height: 80%;
  /* filter: blur(20px); */

  /* border: 1px solid white; */
}
.cardSection > .head {
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(144, 148, 163, 0.25);
  padding: 1rem;
  color: #fff;
  font-weight: 500;
}
.card {
  margin-top: 1px;
  background-color: rgb(146 151 179 / 13%);
  border: 1px solid rgba(144, 148, 163, 0.25);
  backdrop-filter: blur(10px);
  min-width: 8rem;
  height: 150px;
  border-radius: 1rem;
  transition: all 0.2s;
}
.cards {
  /* margin-top: rem; */
  width: 100%;
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* border: 2px solid white; */
}
.cards::-webkit-scrollbar {
  display: none;
}
.card:hover {
  transform: scale(1.2) translateY(-2px);
  /* transform: ; */
}
.upload {
  display: flex;
  /* border: 2px solid wheat; */
  width: 50%;
  height: 4rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload > button {
  width: auto;
  height: auto !important;

  font-size: 1.5rem;
  font-weight: 500;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  border: 1px solid rgba(144, 148, 163, 0.25);
  border-radius: 3px;
  background: none;
  color: rgb(249 250 251 / 55%);
  transition: all 0.2s ease;
}
.upload > button:hover {
  color: rgb(45, 45, 45);
  background-color: rgb(249 250 251 / 55%);
}
.DetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1.4rem;
}
.likesDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.icons_heart {
  width: 1.5rem;
  height: 1.5rem;
  color: rgba(218, 193, 193, 0.845);
  transition: all 0.4s ease-in-out;

  /* background-color: rgba(240, 248, 255, 0.041); */
}
.icons_heart:hover {
  transform: translateX(2px);
}
.star {
  /* position:relative; */
  width: 2rem;
  height: 2rem;
  color: #ecdcdccf;
  transition: all 0.4s ease-in-out;
}
.star:hover {
  transform: translateX(3px);
  transform: translateY(-8px);
  /* background-color: #fff; */
}
.name {
  /* position: relative; */
  font-size: 25px;
  font-weight: 500;
  color: #cdc5c5af;
  transition: all 0.4s ease-in-out;
  border-top: 1px solid rgba(144, 148, 163, 0.25);
padding-top: 2rem;
  width: 100%;
  text-align: center;
}

.LikeCount {
  font-weight: 600;
  font-size: 1rem;
  color: #cdc5c5af;
  transition: all 0.4s ease-in-out;
}
.LikeCount:hover {
  transform: translateX(-3px);
}
.Description{
  padding: 1rem;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
