.Header {
  /* border: 2px solid wheat; */
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: rgba(16 18 27 / 40%);
  flex-shrink: 0;
  /* height: 58px; */
  width: 100%;
  border-bottom: 1px solid rgba(113 119 144 / 25%);
  padding: 0 30px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* .icons_heart{
  width: 3rem;
  height: 3rem;
} */

.icons {
  width: 2rem;
  height: 2rem;
  /* padding: 1.9rem; */
  /* border: 1px solid white; */
  /* border: 2px solid white; */
}


.divIcons {
  justify-self: end;
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 3rem;
  padding-left: 1rem;
}
.Header-link > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
}
.Header-link {
  width: 8rem;
  text-align: center;
  padding-block: 0.8rem;
  border: none;
  cursor: pointer;
  transition: 0.5s all;
  
}
.Header-link:hover {
    border-bottom: 1px solid wheat;
  cursor: pointer;
}

