body{
    background-image: linear-gradient(to bottom right,black,rgb(44, 43, 43),rgb(75, 73, 73));
    background-size: cover;
    background-attachment: fixed;
}
/*header*/
.head_div{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.logo_main{
    display: inline-block;
    vertical-align:middle;
}
.logo{
    height:80px;
    width:80px;
    box-shadow: 0 0 15px -2px #8f9b90;
    border-radius: 50%;
}.heading_div{
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 15px;
    vertical-align:middle;
    color:#008000;
}
.slogan{
    text-align: center;
    font-size: 20px;
    color: rgb(177, 204, 171);
    margin-top: -1px;
}
header{
    padding-bottom: 5px;
    
}
/*header*/
hr{
    margin:0px 10px;
    background-color: aliceblue;
}
h2{
  color:#008000;
  text-align: center;
}
/*login*/
form{
   /* background-image:linear-gradient(to bottom right,rgb(59, 62, 58),rgb(40, 52, 37),rgb(20, 26, 18));*/
   background-color: black;
    margin-top:40px;
    margin-bottom: 20px;
    width:13cm;
    margin:auto;
    border-style:solid;
    border-width:3px;
    border-radius:5px;
    border-color:rgb(27, 38, 26);
    padding-top: 10px;
    padding: 1.15em;
    box-shadow: 0 0 15px -2px #444444;
}

.inputs{
    background-color: rgb(198, 201, 198);
    margin-left:13px;
    height:0.7cm;
    width:11cm;
    border-radius:5px;
    border-style:solid;
    border-width:2px;
    margin-top:8px;
    padding-left:3px;
    padding-top:2px;
    border-color:rgb(165, 143, 143);
}
.text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left:15px;
    margin-top:5px;
    color: #0aa702;
}
#submit,#reset{
    font-family: 'Poppins', sans-serif;
    border-radius:3px;
    margin-top:5px;
    padding-left:3px;
    padding-top:2px;
    align-content: center;
    background-color: #008000;
    color:antiquewhite;
    width:3.5cm;
    margin-right:10px;
}

#submit{
    margin-left:80px;
    margin-top:5px;
}
/*login*/

/* submit*/
#submit #span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #submit #span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #submit:hover #span {
    padding-right: 25px;
  }
  
  #submit:hover #span:after {
    opacity: 1;
    right: 0;
  }
/*submit*/
/*reset*/
#reset #span2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #reset #span2:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #reset:hover #span2 {
    padding-right: 25px;
  }
  
  #reset:hover #span2:after {
    opacity: 1;
    right: 0;
  }

#sign_up{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sign{
  width: 4vw;
  cursor: pointer;
}